[submodule "docker/archlinux"]
	 path = docker/archlinux
	 url = git@github.com:f-koehler/docker-archlinux-ansible.git
[submodule "docker/ubuntu1804"]
	 path = docker/ubuntu1804
	 url = git@github.com:f-koehler/docker-ubuntu1804-ansible.git
[submodule "playbooks/desktop"]
	 path = playbooks/desktop
	 url = git@github.com:f-koehler/ansible-playbook-desktop.git
[submodule "playbooks/dotfiles"]
	 path = playbooks/dotfiles
	 url = git@github.com:f-koehler/dotfiles.git
[submodule "roles/docker"]
	 path = roles/docker
	 url = git@github.com:f-koehler/ansible-role-docker.git
[submodule "roles/haveged"]
	 path = roles/haveged
	 url = git@github.com:f-koehler/ansible-role-haveged.git
[submodule "roles/sshd"]
	 path = roles/sshd
	 url = git@github.com:f-koehler/ansible-role-sshd.git
[submodule "roles/zfs"]
	 path = roles/zfs
	 url = git@github.com:f-koehler/ansible-role-zfs.git
[submodule "roles/ansible-role-docker-1"]
	path = roles/docker-geerlingguy
	url = git@github.com:f-koehler/ansible-role-docker-1.git
[submodule "playbooks/servicepi"]
	path = playbooks/servicepi
	url = git@github.com:f-koehler/playbook-servicepi.git
[submodule "playbooks/vps"]
	path = playbooks/vps
	url = git@github.com:f-koehler/playbook-vps.git
