[submodule "docker/archlinux"]
	 path = docker/archlinux
	 url = git@github.com:f-koehler/docker-archlinux-ansible.git
[submodule "docker/ubuntu1804"]
	 path = docker/ubuntu1804
	 url = git@github.com:f-koehler/docker-ubuntu1804-ansible.git
[submodule "roles/docker"]
	 path = roles/docker
	 url = git@github.com:f-koehler/ansible-role-docker.git
[submodule "roles/haveged"]
	 path = roles/haveged
	 url = git@github.com:f-koehler/ansible-role-haveged.git
[submodule "roles/zfs"]
	 path = roles/zfs
	 url = git@github.com:f-koehler/ansible-role-zfs.git
[submodule "playbooks/dotfiles"]
	path = playbooks/dotfiles
	url = git@github.com:f-koehler/dotfiles.git
